
#navbaaar{

    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #072227;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
      
}

.nav-list {
    display: flex;
    margin-right: 2rem;
}

@media (max-width: 0em) {
    .nav {
      justify-content: center;
    }
  
    .nav-list {
      margin: 0 1rem;
    }
  }
  
  .nav-list a {
    display: block;
    font-size: 25px;
    padding: 10px;
    color: white;
    width: 15vw;
    font-family: Lucida Calligraphy;
    text-align: center;
  }
  
  .nav-list a:hover {
    background: #4FBDBA

  }
  
  ul {
    list-style: none;
  }
  
  a {
      text-decoration: none;
      width: 100px
  }
  #logo {
    margin-right: 450px;
    width: 125px;
    height: 65px;
    margin-top: 10px;
}

.imgmain{
    margin-top: 300px;
    text-align: center;
}
.imgmain p{
  
  font-size: 30px;
  font-family: MS PGothic;
  font-weight: bold;
  color: #35858B;
  margin-top: 50px;
}

#informacion{
  text-align: center;
  margin-top: 400px;
  margin-bottom: 200px;
  font-size: 100px;
  font-family:MS PGothic;
  color: #35858B;

}

.chatarra img{
  width: 700px;
  display: flex;
  float: left;
  margin-right: 70px;
  margin-left: 40px;
  border-radius: 50px;
}

.chatarra p{
  font-size: 60px;
  font-family:MS PGothic ;
  color: #4FBDBA;
  
}
.saludable{
  margin-left: 100px;
}
.saludable img{
  width: 700px;
  display: flex;
  float: right;
  margin-right: 70px;
  margin-left: 40px;
  border-radius: 50px;
}
.saludable p{
  font-size: 60px;
  font-family:MS PGothic ;
  color: #4FBDBA;
  
}

.ejercicio img{
  width: 700px;
  display: flex;
  float: left;
  margin-right: 70px;
  margin-left: 40px;
  border-radius: 50px;
}
.ejercicio{
  font-size: 60px;
  font-family:MS PGothic ;
  color: #4FBDBA;
}

.piedepagina{
  margin-top: 90px;
  width: 100%;
  background-color: #072227;
  
}
.piedepagina .grupo1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.piedepagina .grupo1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
}
.piedepagina .grupo1 .box figure img{
  width: 250px;
}
.piedepagina .grupo1 .box h2{
  color: #35858B;
  margin-bottom: 25px;
  font-size: 20px;
}
.piedepagina .grupo1 .box p{
  color: #4FBDBA;
  margin-bottom: 10px;
}
.piedepagina .grupo1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #35858B;
  margin-right: 10px;
  background-color:#4FBDBA ;
  text-align: center;
  border-radius: 10px;
  transition: all 300ms ease;
}
.piedepagina .grupo1 .red-social a:hover{
  color: #072227;
}
