#foto{
    width: 250px;
    height: 250px;
    border: 1px solid black;
    border-radius: 50px;
    margin: 50px;
    background-image: url(https://img.freepik.com/vector-gratis/fondo-abstracto-blanco_23-2148810113.jpg?size=626&ext=jpg&ga=GA1.2.1587997492.1641772800);
    margin-top: 100px;
}

#fotojpg {
    font-family: MS PGothic;
    font-size: 20px;
    text-align: center;
    margin-top: 80px;
    color: rgb(136, 140, 143);

}

#foto h1 span {
    margin-left: 113px;
    color: rgb(136, 140, 143);
    font-size: 50px;
    text-align: center;
}

input, button, select, textarea {
  font-family: MS PGothic;
  font-size: 15px;
  border: 1px solid black;
}

label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.7rem;
}
#nombre1 {
    font-size: 25px;
    font-family: MS PGothic;
    margin-left: 50px;
}

#nombre {
    width: 347px;
    height: 30px;
    border-radius: 50px;
}

#dropdown {
    width: 150px;
    height: 35px;
    border-radius: 50px;
    margin-top: -50px;
    border: 1px solid black;
}

p {
    font-size: 25px;
    font-family: MS PGothic;
    margin-left: 50px;
    margin-top: 20px;
}
.formulario {
    color: black;
    background-color: transparent;
}

.formulario:focus {
    background-color: #AEFEFF;

}

option {
    font-family: MS PGothic;
    background-color: white;
}
#dropdown2 {
    width: 150px;
    height: 35px;
    border-radius: 50px;
    margin-top: -35px;
    margin-right: 1070px;
    float: right;
    border: 1px solid black;
}
#g2 {
    float: right;
    margin-top: -75px;
    margin-right: 1120px;
}

#peso1 {
    font-size: 25px;
    font-family: MS PGothic;
    margin-left: 50px;
    margin-top: 17px;
}

#peso {
    width: 142px;
    height: 30px;
    border-radius: 50px;
}

#altura1 {
    font-size: 25px;
    font-family: MS PGothic;
    float: right;
    margin-top: -75px;
    margin-right: 1120px;
}

#altura {
    width: 150px;
    height: 30px;
    border-radius: 50px;
    margin-top: -35px;
    margin-right: 1063px;
    float: right;
}

#describete {
    border: 1px solid black;
    border-radius: 25px;
    min-height: 50px;
    max-height: 200px;
    width: 50%;
    float: right;
    background-image: linear-gradient(
      115deg,
      rgba(253, 253, 253, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(https://img.freepik.com/vector-gratis/conjunto-personas-multietnicas-activas-entrenando-gimnasio_1262-19305.jpg?size=626&ext=jpg);
    margin-top: -556px;
    margin-right: 300px;
    padding: 0.625rem;
    resize: vertical;
    font-size: 20px;
    font-family: MS PGothic;
}

#archivo {
    width: 143px;
    margin-left: 50px;
    margin-top: -50px;
}

#all {
    background-image: url(https://img.freepik.com/vector-gratis/fondo-abstracto-blanco_23-2148810113.jpg?size=626&ext=jpg&ga=GA1.2.1587997492.1641772800);
    width: 100%;
    height: 700px;
}

h1 {
    float: right;
    margin-top: -320px;
    margin-right: 620px;
    font-family: Lucida Calligraphy;
}

#correo1 {
    font-size: 25px;
    font-family: MS PGothic;
    float: right;
    margin-top: -255px;
    margin-right:580px;
}

#correo {
    width: 347px;
    height: 30px;
    border-radius: 50px;
    margin-top: -217px;
    margin-right: 500px;
    float: right;
}
#cell1 {
    font-size: 25px;
    font-family: MS PGothic;
    float: right;
    margin-top: -160px;
    margin-right:580px;
}

#cell {
    width: 347px;
    height: 30px;
    border-radius: 50px;
    margin-top: -120px;
    margin-right: 500px;
    float: right;
}

#cores1 {
    font-size: 25px;
    font-family: MS PGothic;
    float: right;
    margin-top: -75px;
    margin-right:580px;
}

#cores {
    width: 347px;
    height: 30px;
    border-radius: 50px;
    margin-top: -35px;
    margin-right: 500px;
    float: right;
}

#guardar {
    width: 100px;
    height: 30px;
    border-radius: 50px;
    margin-top: -32px;
    margin-right: 50px;
    float: right;
    background-color: #AEFEFF;
}

#guardar:hover {
    width: 200px;
    background-color: #072227;
    color: white;
    transform: translateY(20px);
    transition: transform 0.8s ease-out;
    margin-right: 10px;
}

#guardar:focus{
    background-color: #35858B;
}

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #072227;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
      
}

.nav-list {
    display: flex;
    margin-right: 2rem;
}

@media (max-width: 0em) {
    .nav {
      justify-content: center;
    }
  
    .nav-list {
      margin: 0 1rem;
    }
  }
  
  .nav-list a {
    display: block;
    font-size: 25px;
    padding: 10px;
    color: white;
    width: 15vw;
    font-family: Lucida Calligraphy;
    text-align: center;
  }
  
  .nav-list a:hover {
    background: #4FBDBA

  }
  
  ul {
    list-style: none;
  }
  
  a {
      text-decoration: none;
      width: 100px
  }

  #logo {
      margin-right: 450px;
      width: 125px;
      height: 65px;
      margin-top: 10px;
  }