#fondo{
    width: 100%;
    height: 700px;
    background-image:linear-gradient(
        50deg,
        rgba(253, 253, 253, 0.9),
        rgba(255, 255, 255, 0.9) 
      ),
    url(https://www.wikihow.com/images_en/thumb/e/e4/Do-Dips-Step-2.jpeg/v4-460px-Do-Dips-Step-2.jpeg);
    margin-top: 130px;
}
#titulo{
    font-family: Lucida Calligraphy;
    color: write;
    font-size: 50px; 
    margin-left: 320px;
    margin-top: 40px;
    color: #072227;
    
}
.uno{
    width: 70px;
    height: 70px;
}
.dos{
    width: 20px;
    height: 20px;
}
#imagen1{
    width: 300px;
    height: 100px;
    float: right;
    display: block;
    margin-top: 20px;
    margin-right: 900px;
    position: relative;
}
#imagen2{
    width: 300px;
    height: 100px;
    float: right;
    display: block;
    margin-top: -20px;
    margin-right: 850px;
    position: relative;
}

#rutina{
    font-family: Lucida Calligraphy;
    color: write;
    font-size: 20px;
    position: relative;
    float: right; 
    margin-top: -0;   
    margin-right:-80px;
}
#saltar{
    background-color: #ececec;
    width: 110px;
    border-radius: 20px;
    text-align: center;
    font-family: Lucida Calligraphy;
    font-size: 13px;
    float: right;
    margin-right: -100px;
    margin-top: 30px;
}
#s{
    background-color: #4FBDBA;
    width: 180px;
    border-radius: 20px;
    text-align: center;
    font-family: MS PGothic;
    font-size: 15px;
    float: right;
    margin-right: -150px;
    margin-top: 75px;
    padding: 15px;
    color: black;
}
#f{
    background-color: #ececec;
    border-top: -50px;
    width: 150px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    font-family: Lucida Calligraphy;
    font-size: 13px;
    float: right;
    margin-top: -115px;
    margin-right: 700px;
}
#d{
    background-color: #4FBDBA;
    width: 200px;
    border-radius: 20px;
    text-align: center;
    font-family: MS PGothic;
    font-size: 15px;
    float: right;
    margin-top: -70px;
    margin-right: 660px;
    padding: 15px;
    color: black;
}
#t{
    background-color: #ececec;
    border-top: -50px;
    width: 150px;
    border-radius: 20px;
    text-align: center;
    font-family: Lucida Calligraphy;
    font-size: 15px;
    float: right;
    margin-top: -115px;
    margin-right: -500px;
}
#r{
    background-color: #4FBDBA;
    border-top: -50px;
    width: 200px;
    border-radius: 20px;
    text-align: center;
    font-family: MS PGothic;
    font-size: 15px;
    float: right;
    margin-top: -65px;
    margin-right: -540px;
    color: black;
    padding: 10px;
}
.cuerda{
    width: 150px;
    float: right;
    margin-right: 170px;
}
.flexiones{
    width: 250px;
    float: right;
    margin-top: -180px;
    margin-right: 640px;
}
.sentadillas{
    width: 210px;
    float: right;
    margin-top: -210px;
    margin-right: 310px;
}
#realizado{
    width: 200px;
    float: right;
    margin-right: -400px;
    margin-top: -150px;
}
#a{
    float: right;
    font-family: Lucida Calligraphy;
    margin-right: -450px;
    margin-top:-165px;
    background-color: #4FBDBA;
    color: black;
    text-align: center;
    width: 100px;
   border-radius: 20px;
   box-shadow: 0px -1px 10px 1px #4FBDBA;
   font-size: 15px;
   padding: 15px;
}
#reloj{
    width: 170px;
    height: 50px;
    float: right;
    margin-top: -560px;
    margin-right: 50px;
    box-shadow: 0px -1px 10px 6px #35858B;
    text-align: center;
    background-color: white ;
}
#helado{
    float: right;
    width: 70px;
    margin-right: 1150px;
}
#flecha2{
    float: right;
    width: 30px;
    margin-right: 1150px;
}
#heladodos{
    float: right;
}
#lugar{
    float: right;
    font-family: Lucida Calligraphy ;
    font-size: 15px;
    background-color: #ececec;
    padding: 10px;
    border-radius: 20px;
    margin-right: 950px;
}
#minutos{
    font-family: MS PGothic;
    background-color: #4FBDBA;
    border-radius: 20px;
    padding: 15px;
    width: 170px;
    text-align: center;
    margin-top: 70px;
    margin-right: -180px;
    float: right;
}
#triceps{
    float: right;
    font-family: Lucida Calligraphy;
    font-size: 15px;
    background-color: #ececec;
    padding: 10px;
    border-radius: 20px;
    margin-right: 650px;
    margin-top: -130px;
}
#cada{
    float: right;
    font-family:  MS PGothic;
    font-size: 15px;
    background-color: #4FBDBA;
    padding: 15px;
    border-radius: 20px;
    margin-right: 500px;
    margin-top: -70px;
}
#zancadas{
    float: right;
    font-size: 15px;
    background-color: #ececec;
    padding: 10px;
    border-radius: 20px;
    font-family: Lucida Calligraphy;
    margin-top: -130px;
    margin-right: 200px;
}
#pierna{
    float: right;
    font-size: 15px;
    font-family: MG PGothic;
    background-color: #4FBDBA;
    padding: 15px;
    border-radius: 20px;
    margin-right: 100px;
    margin-top: -70px;
}
.pnguno{
    float: right;
    width: 170px;
    margin-right: 950px;
}   
.pngdos{
    float: right;
    width: 240px;
    margin-right: 550px;
    margin-top: -200px;
}
.pngtres{
    float: right;
    width: 250px;
    margin-top: -250px;
    margin-right: 150px;
}
#botondos{
    float: right;
    width: 800px;
    margin-top:-440px ;
    margin-right: -200px;
}
#ado{
    float: right;
    font-family: Lucida Calligraphy;
    font-size: 15px;
    background-color: #4FBDBA;
    padding: 15px;
    border-radius: 20px;
    margin-top: -450px;
    margin-right: 60px;
    box-shadow: 0px -1px 10px 1px #4FBDBA;
}
#lineacuatro{
    width: 1250px;
}
#chuleta{
    width: 150px;
    float: right;
    margin-right: 1100px;
}
#crd{
    width: 30px;
    float: right;
    margin-right: 1100px;
    margin-top: -25px ;
}
#comba{
    float: right;
    font-family: Lucida Calligraphy;
    font-size: 15px;
    background-color: #ececec;
    padding: 10px;
    border-radius: 20px;
    margin-right: 970px;
}
#cardio{
    float: right;
    font-family: MS PGothic;
    font-size: 15px;
    background-color: #4FBDBA;
    padding: 20px;
    border-radius: 20px;
    margin-right: 900px;
    margin-top: -0px;
}
#curl{
    float: right;
    font-family: Lucida Calligraphy;
    font-size: 15px;
    background-color: #ececec;
    padding: 10px;
    border-radius: 20px;
    margin-right: 650px;
    margin-top: -120px;
}
#una{
    float: right;
    font-size: 15px;
    font-family: MS PGothic;
    background-color: #4FBDBA;
    padding: 15px;
    border-radius: 20px;
    margin-right: 550px;
    margin-top: -65px;
}
#abdominales{
    float: right;
    font-size: 15px;
    font-family: Lucida Calligraphy;
    background-color: #ececec;
    padding: 10px;
    border-radius: 20px;
    margin-right: 300px;
    margin-top: -120px;
}
#series{
    float: right;
    font-size: 15px;
    font-family: MS PGothic;
    background-color: #4FBDBA;
    padding: 15px;
    border-radius: 20px;
    margin-right: 150px;
    margin-top: -65px;
}
#pngcinco{
    float: right;
    width: 250px;
    margin-right: 920px;
}
#pngseis{
    float: right;
    width:250px;
    margin-right:570px ;
    margin-top: -250px;
}
#pngsiete{
    float: right;
    margin-top: -250px;
    width: 340px;
    margin-right: 150px;
}
#botoncuatro{
    float: right;
    margin-right: 150px;
    margin-top: -400px;
}
#li{
    float: right;
    margin-top: -400px; 
    background-color: #4FBDBA;
    border-radius: 20px;
    font-size: 15px;
    padding: 10px;
    font-family: Lucida Calligraphy;
    margin-right:  40px; 
    box-shadow: 0px -1px 10px 1px #4FBDBA;
}
#division{
    width: 1250px;
}
#pizza{
    width: 120px;
    float: right;
    margin-top: 10px;
    margin-right: 1100px;
}
#wn{
    float: right;
    width: 35px;
    margin-top: 0px;
    margin-right: 1120px;
}
#elevaciones{
    float: right;
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
    font-family: Lucida Calligraphy;
    background-color: #ececec;
    margin-right: 800px;
}
#hacer{
    float: right;
    font-size: 15px;
    padding: 15px;
    border-radius: 20px;
    background-color: #4FBDBA;
    font-family: MS PGothic;
    margin-right: 790px;
    margin-top: -0px;
}
#plancha{
    float: right;
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
    background-color: #ececec;
    font-family: Lucida Calligraphy;
    margin-right: 500px;
    margin-top: -120px;
}
#puedes{
    float: right;
    font-size: 15px;
    padding: 15px;
    border-radius: 20px;
    background-color: #4FBDBA;
    margin-top: -60px;
    margin-right: 350px;
}
#elevacion{
    width: 250px;
    margin-right: 800px;
    float: right;
}
#pl{
    width: 250px;
    float: right;
    margin-right: 350px;
    margin-top: -200px;
}
#visto{
    float: right;
    margin-right: -420px;
    margin-top: -350px;
}
#od{
    float: right;
    margin-right: -530px;
    margin-top: -350px;
    font-family: Lucida Calligraphy;
    font-size: 15px;
    background-color: #4FBDBA;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px -1px 10px 1px #4FBDBA;
}
#lineacinco{
    width: 1250px;
}
#salchi{
    width: 150px;
    margin-top: 10px;
    float: right;
    margin-right: 1080px;
}
#wn{
    width: 40px;
    float: right;
    margin-right:1080px ;
}
#lung{
    float: right;
    font-size: 15px;
    background-color: #ececec;
    border-radius: 20px;
    font-family: Lucida Calligraphy;
    padding: 10px;
    margin-top: 10px;
    margin-right: 1000px;
}
#por{
    float: right;
    margin-top: -0px;
    margin-right: 900px;
    background-color: #4FBDBA;
    border-radius: 20px;
    padding: 15px;
    font-size: 15px;
    font-family: MG PGothic;
}
#push{
    float: right;
    margin-top: -110px;
    margin-right: 500px;
    background-color: #ececec;
    font-size:15px;
    font-family: Lucida Calligraphy;
    padding: 10px;
    border-radius: 20px;
}
#diez{
    float: right;
    background-color: #4FBDBA;
    border-radius: 20px;
    font-size: 15px;
    padding: 15px;
    font-family:  MG PGothic;
    margin-top: -60px;
    margin-right: 350px;
}
#penege{
    float: right;
    width: 250px;
    margin-right: 900px;
}
#penegedos{
    float: right;
    width: 250px;
    margin-right: 400px;
    margin-top: -200px;
}
#vistodos{
    float: right;
    margin-right: 180px;
    margin-top: -450px;
}
#zz{
    float: right;
    margin-right: 70px;
    margin-top: -458px;
    background-color: #4FBDBA;
    border-radius: 20px;
    font-size: 15px;
    padding: 10px;
    font-family: Lucida Calligraphy;
    box-shadow: 0px -1px 10px 1px #4FBDBA;
}
#navbaaar{

    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #072227;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
      
}

.nav-list {
    display: flex;
    margin-right: 2rem;
}

@media (max-width: 0em) {
    .nav {
      justify-content: center;
    }
  
    .nav-list {
      margin: 0 1rem;
    }
  }
  
  .nav-list a {
    display: block;
    font-size: 25px;
    padding: 10px;
    color: white;
    width: 15vw;
    font-family: Lucida Calligraphy;
    text-align: center;
  }
  
  .nav-list a:hover {
    background: #4FBDBA

  }
  
  ul {
    list-style: none;
  }
  
  a {
      text-decoration: none;
      width: 100px
  }

  #logo {
      margin-right: 450px;
      width: 125px;
      height: 65px;
      margin-top: 10px;
  }
  .piedepagina .grupo1{
    width: 1415px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    background-color: #072227;
  }
  .piedepagina .grupo1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
  }
  .piedepagina .grupo1 .box figure img{
    width: 250px;
  }
  .piedepagina .grupo1 .box h2{
    color: #35858B;
    margin-bottom: 25px;
    font-size: 20px;
  }
  .piedepagina .grupo1 .box p{
    color: #4FBDBA;
    margin-bottom: 10px;
  }
  .piedepagina .grupo1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #35858B;
    margin-right: 10px;
    background-color:#4FBDBA ;
    text-align: center;
    border-radius: 10px;
    transition: all 300ms ease;
  }
  .piedepagina .grupo1 .red-social a:hover{
    color: #072227;
  }
  .cuerda:hover{
    filter: saturate(180%);
    -webkit-transform:scale(1.3);transform:scale(1.3);
  }
  .flexiones:hover{
    filter: saturate(180%);
    -webkit-transform:scale(1.3);transform:scale(1.3);
  }
  .sentadillas:hover{
    filter: saturate(180%);
    -webkit-transform:scale(1.3);transform:scale(1.3);
  }
  .pnguno:hover{
    filter: saturate(180%);
    -webkit-transform:scale(1.3);transform:scale(1.3);
  }
  .pngdos:hover{
    filter: saturate(180%);
    -webkit-transform:scale(1.3);transform:scale(1.3);
  }
  .pngtres:hover{
    filter: saturate(180%);
    -webkit-transform:scale(1.3);transform:scale(1.3);
  }
  #pngcinco:hover{
    filter: saturate(180%);
    -webkit-transform:scale(1.3);transform:scale(1.3);
  }
  #pngseis:hover{
    filter: saturate(180%);
    -webkit-transform:scale(1.3);transform:scale(1.3);
  }
  #pngsiete:hover{
    filter: saturate(180%);
    -webkit-transform:scale(1.3);transform:scale(1.3);
  }
#elevacion:hover{
    filter: saturate(180%);
    -webkit-transform:scale(1.3);transform:scale(1.3);
}
#pl:hover{
    filter: saturate(180%);
    -webkit-transform:scale(1.3);transform:scale(1.3);
}
#penegedos:hover{
    filter: saturate(180%);
    -webkit-transform:scale(1.3);transform:scale(1.3);
}
#penege:hover{
    filter: saturate(180%);
    -webkit-transform:scale(1.3);transform:scale(1.3);
}
#zz:hover{
    transform: translateX(20px);
    transition: transform 0.3s ease-out; 
}
#od:hover{
    transform: translateX(20px);
    transition: transform 0.3s ease-out; 
}
#li:hover{
    transform: translateX(20px);
    transition: transform 0.3s ease-out; 
}
#ado:hover{
    transform: translateX(20px);
    transition: transform 0.3s ease-out; 
}
#a:hover{
    transform: translateX(20px);
    transition: transform 0.3s ease-out; 
}