*{
    margin: 0;
    padding: 0;
    
  }

  #navbaaar{

    display: flex !important;
    justify-content: flex-end !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    background: #072227;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
      
}

.nav-list {
    display: flex !important;
    margin-right: 2rem !important;
}

@media (max-width: 0em) {
    .nav {
      justify-content: center;
    }
  
    .nav-list {
      margin: 0 1rem;
    }
  }
  
  .nav-list a {
    display: block !important;
    font-size: 25px;
    padding: 10px !important;
    color: white;
    width: 15vw;
    font-family: Lucida Calligraphy;
    text-align: center !important;
  }
  
  .nav-list a:hover {
    background: #4FBDBA

  }
  
  ul {
    list-style: none;
  }
  
  a {
      text-decoration: none;
      width: 100px
  }
  #logo {
    margin-right: 450px !important;
    width: 125px !important;
    height: 65px !important;
    margin-top: 10px !important;
    padding: 10px;
}
.header{
    margin-top: 80px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    text-align: center;
    height: 400px;
    padding: 12px;
    background-image: linear-gradient(#AEFEFF,#072227);
}
.avatar{
    margin-top: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}

.username{
    font-size: 50px;
    margin-top: 12px;
    color: #AEFEFF;
}
h2{
    color: #4FBDBA;
    font-size: 50px;
}
.social{
    list-style: none;
    text-align: center;
    padding: 0;
    
    

}
.social li{
    display: inline-block;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 100px;
    color: #4FBDBA;
    border: 3px solid #4FBDBA;
    border-radius: 50px;
    padding: 10px;
}

.social li>a{
  padding: 10px;

  color: #4FBDBA;
}


h3{
  padding-left: 20px;
   font-size: 50px; 
   color: #4FBDBA;
}
p{
    padding:20px ;
    font-size: 25px;
    color: #072227;
}
.sobreti{
    border: 6px solid #4FBDBA;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 50px;
    
}
.social li>a:hover{
  color: #AEFEFF;
}
.social li:hover{
  background-color: #072227;
  
}


.rutin{
  padding-left: 200px !important;
  padding-right: 200px !important;
  margin: 0 !important;
}