.titulo{
    text-align: center;
    font-size: 40px;
    font-family: cursive;
    padding-top: 30px;
    color: rgb(127, 187, 255);
    padding-top: -30px;
}
.buscar{
    text-align: center;
}
.Subtitulos{
    text-align: center;
    padding: 40px;
    font-family: cursive;
    font-size: 40px;
    color: blue;
    border-bottom:  2px solid black;
    padding: -20px;
}
.img1{
    width: 240px;
    height: 250px;
    border: 4px solid black;
    margin-left: 250px;
    float: left;
    border-radius: 20px;
}
.img1:hover{
    filter: blur(5px);
}
.img2{
    width: 240px;
    height: 250px;
    float: left;
    margin-left: 100px;
    border: 4px solid black;
    border-radius: 20px;
}
.img2:hover{
    filter: blur(5px);
}
.img3{
    width: 200px;
    height: 190px;
    float: left;
    margin-left: 100px;
    border: 4px solid black;
    padding: 30px;
    border-radius: 20px;
}
.img3:hover{
    filter: blur(5px);
}
.img4{
    width: 240px;
    height: 250px;
    margin-left: 250px;
    margin-top: 90px;
    border: 4px solid black;
    border-radius: 20px;
}
.img4:hover{
    filter: blur(5px);
}
.img5{
    width: 190px;
    height: 200px;
    margin-left: 90px;
    margin-top: 42px;
    border: 4px solid rgb(0, 0, 0);
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 10px;
    border-radius: 20px;

}
.img5:hover{
    filter: blur(5px);
}
.img6{
    width: 190px;
    height: 200px;
    float: right;
    margin-right: 100px;
    margin-top: 90px;
    border: 4px solid black;
    padding: 25px;
    border-radius: 20pxs;
}
.img6:hover{
    filter: blur(5px);
}
.cerdo{
    font-size: 25px;
    color: white;
    background-color: black;
    float: left;
    margin-top: -640px;
    margin-left: 280px;
    padding: 10px;
}
.hamburguesa{
    font-size: 25px;
    color: white;
    background-color: black;
    float: left;
    margin-top: -640px;
    margin-left: 640px;
    padding: 10px;
}
.helado{
    font-size: 25px;
    color: white;
    background-color: black;
    float: left;
    margin-top: -640px;
    margin-left: 1020px;
    padding: 10px;
}
.papita{
    font-size: 25px;
    color: white;
    background-color: black;
    float: left;
    margin-top: -300px;
    margin-left: 280px;
    padding: 10px;
}
.pizza{
    font-size: 25px;
    color: white;
    background-color: black;
    float: left;
    margin-top: -300px;
    margin-left: 680px;
    padding: 10px;
}
.pollo{
    font-size: 25px;
    color: white;
    background-color: black;
    float: left;
    margin-top: -300px;
    margin-left: 980px;
    padding: 10px;
}

main {
	margin: 0;
	padding: 0;
	background: black;
}

.container {
	position: absolute;
	left: 48%;
	top: 24%;
	transform: translate(-50%,-50%);
	padding: 8px;
}

input {
	outline: none;
	box-sizing: border-box;
	height: 60px;
	width: 0px;
	padding: 0 20px;
	color: #000;
	border-radius: 50px;
	font-size: 20px;
	border: 1px solid #6bc7f1;
	transition: all .7s ease;
}

::placeholder {
	color: grey;
}

.btn {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 80px;
	height: 80px;
	background: #7d60ff;
	line-height: 80px;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	transition: .5s;
}

.btn i {
	font-size: 25px;
	color: white;
	line-height: 80px;
	transition: all .7s ease;
}

.container:hover input {
	width: 350px;
}

.container:hover i{
	transform: rotate(-360deg);
}

.btn:hover{
	background: #53c7fd;
}
