.titulo{
    text-align: center;
    font-size: 40px;
    font-family: cursive;
    padding-top: 30px;
    color: rgb(127, 187, 255);
}
.buscar{
    text-align: center;
}
.Subtitulos{
    text-align: center;
    padding: 40px;
    font-family: cursive;
    font-size: 40px;
    color: blue;
    border-bottom:  2px solid black;
}
.img1{
    width: 190px;
    height: 200px;
    border: 4px solid black;
    margin-left: 400px;
}
.img2{
    width: 190px;
    height: 200px;
    margin-left: 400px;
}
.img3{
    width: 190px;
    height: 200px;
}
.img4{
    width: 190px;
    height: 200px;
}
.img5{
    width: 190px;
    height: 200px;
}
.img6{
    width: 190px;
    height: 200px;
}

